{% extends "App/padre.html" %}
{% load static %}
{% block title %}About Me{% endblock %}
{% block section1 %}
<h2>{{ mensaje }}</h2>
<p>
    

    ¡Hola! Mi nombre es Iñaki Iparraguirre, tengo 20 años y resido en Capital Federal, Argentina.

En la actualidad, me encuentro avanzando en mi tercer año de estudios en Administración de Empresas. Este camino académico me apasiona y estoy dedicando esfuerzos significativos al desarrollo de habilidades clave para mi futura trayectoria profesional.

En mi tiempo libre, disfruto participar en actividades diversas, como el fútbol y la lectura de noticias actuales. También mantengo una rutina regular en el gimnasio, reconociendo la importancia del equilibrio entre el estudio y el bienestar personal.

La elección de participar en este curso de programación responde a mi convicción de que la programación es un área esencial en la actualidad y para el futuro. Inicialmente, la curiosidad por entender más sobre informática me impulsó a tomar esta decisión, y veo la creación de páginas web como una habilidad versátil y relevante.

Agradezco la oportunidad de aprender y explorar nuevos horizontes a través de este curso, y estoy convencido de que adquirir conocimientos en programación será beneficioso para mi desarrollo académico y profesional.
</p>

{% endblock %}