{% extends "App/padre.html" %}

{% load static %}
{% block title %}Blogs{% endblock %}
{% block section1 %}

    <p>Titulo del blog: <i>{{ blog.nombre }}</i></p>
    <p>Subtitulo del blog: <i>{{ blog.subtitulo }}</i></p>
    <p>Cuerpoo del blog: <i>{{ blog.cuerpo }}</i></p>
    <p>Autor del blog: <i>{{ blog.autor }}</i></p>
    <p>Fecha del blog: <i>{{ blog.fecha }}</i></p>
    <p>Imagen del blog: <i>{{ blog.imagen }}</i></p>
    <p>
            <a href="{% url 'List' %}">Volver</a>
    </p>
    </li>


</ul>


{% endblock %}